$chevron-dimensions: 20px;
$spacer: 8px;

.to-do-entry {
  margin-bottom: $spacer;

  button {
    margin-left: $spacer;
  }

  .entry-description {
    height: 0;
    overflow: hidden;

    &.open {
      height: auto;
    }
  }

  .entry-title-container {
    display: flex;
  }

  .entry-title {
    &, &:before {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    
    &:before {
      justify-content: center;
      font-size: $chevron-dimensions;
      width: $chevron-dimensions;
      height: $chevron-dimensions;
      content:"\203A";
    }

    &.open {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
}
