$marker-dimensions: 20px;
$spacer: 8px;

.to-do-entry {
  margin-bottom: $spacer;

  button {
    margin-left: $spacer;
  }

  .entry-description {
    height: 0;
    overflow: hidden;

    &.open {
      height: auto;
    }
  }

  .entry-title-container {
    display: flex;
  }

  .entry-title, .has-description {
    &, &:before {
      display: flex;
      align-items: center;
    }

    &:before {
      justify-content: center;
      font-size: $marker-dimensions;
      width: $marker-dimensions;
      height: $marker-dimensions;
    }
  }

  .entry-title {
    &:before {
      content: "\002D"
    }
  }

  .has-description {
    &, &:before {
      cursor: pointer;
    }

    &:before {
      content: "\203A";
    }

    &.open {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
}
