$chevron-dimensions: 20px;
$spacer: 8px;

.to-do-entry {
  margin-bottom: $spacer;

  button {
    margin-left: $spacer;
  }

  .entry-title {
    &, &:before {
      display: flex;
      align-items: center;
    }
    
    &:before {
      justify-content: center;
      font-size: $chevron-dimensions;
      width: $chevron-dimensions;
      height: $chevron-dimensions;
      content:"\203A";
    }

    &.active {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
}
