@import './styles/variables';

.to-do-add, .to-do-list {
  background-color: $section-background-color;
  border-radius: 10px;
  padding: 24px;
}
.to-do-add {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .to-do-title, .to-do-description {
    margin-bottom: 10px;
  }

  .to-do-description {
    input {
      width: 400px;
    }
  }

  .title-warning {
    color: red;
    font-size: 12px;
    margin-left: 10px;
  }
}

